<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment class="rounded-none" [scrollable]="true" [formControl]="selectedMapSubCatControl" mode="ios">
    <ion-segment-button *ngFor="let mapSubCat of options" [value]="mapSubCat">
      <span class="h-[80px] textual-content flex flex-col gap-1 items-center">
        <span style="font-size: 30px">{{mapSubCat}}</span>
      </span>
    </ion-segment-button>
  </ion-segment>
  <ng-container *ngIf="values">
    {{values | json}}
  </ng-container>
</ion-content>
